*{
    margin: 0;
    padding: 0;
}/*
body{
    font-family: 'Fira Code', monospace;
    font-family: 'Poppins', sans-serif;
}*/
ul{
    display: flex;
}
li{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
}
#menu-checkbox{
    display: none;
}
.logo{
    margin: 18px 0;
}
header{
    width: 100%;
    background-color: #f6f6f6;
}
.header-container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-container a{
    font-size: 16px;/*размер шрифта*/
    letter-spacing: 2px;/*интервал между буквами*/
    line-height: 32px;/* высота строки для блочных эл.*/
    color: #000000;
    font-family: "Code";
    font-weight: 300;
    text-align: center;/*расположение текста по центру*/
    padding: 27px 6px;
}
a:hover{
    padding: 20px 6px;
    background-color: #ffea00;
}
li:not(:first-child){
    margin-left: 60px;
}
/*Шапка с меню готова*/